<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/author_dm.css">

   <!-- custom js file link  -->
   <script src="js/author_dm.js" defer></script>

</head>
<body>
   
<div class="container">

   <h3 class="title"> Meet the Authors </h3>
   <h3 class="sub">Wann know who wrote your favorite book? Connect with these authors </h3>

   <div class="products-container">

      <div class="product" data-name="p-1">
         <img src="images/lana.jfif" alt="">
         <h3>Lana Del Rey</h3>
         <div class="price">Violet bent backwards</div>
      </div>

      <div class="product" data-name="p-2">
         <img src="images/rick.jpg" alt="">
         <h3>Rick Riordan</h3>
         <div class="price">Percy Jackson</div>
      </div>

      <div class="product" data-name="p-3">
         <img src="images/z.jfif" alt="">
         <h3>Zayn</h3>
         <div class="price">Z-the autobiography</div>
      </div>

      <div class="product" data-name="p-4">
         <img src="images/chetan.jpg" alt="">
         <h3>Chetan Bhagat</h3>
         <div class="price">400 Days</div>
      </div>

      <div class="product" data-name="p-5">
         <img src="images/fearne.webp" alt="">
         <h3>Fearne Cotton</h3>
         <div class="price">Speak your truth</div>
      </div>

      <div class="product" data-name="p-6">
         <img src="images/rach.jpg" alt="">
         <h3>Rachel Hollis</h3>
         <div class="price">Girl stop apologizing</div>
      </div>

   </div>

</div>

<div class="products-preview">

   <div class="preview" data-target="p-1">
      <i class="fas fa-times"></i>
      <img src="images/lana.jfif" alt="">
      <h3>Lana Del Rey</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="http://lanadelreybook.com/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/honeymoon/?hl=en" class="cart">DM-Instagram</a>
      </div>
   </div>

   <div class="preview" data-target="p-2">
      <i class="fas fa-times"></i>
      <img src="images/rick.jpg" alt="">
      <h3>Rick Riordan</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="https://rickriordan.com/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/rickriordan/?hl=en" class="cart">DM-Instagram</a>
      </div>
   </div>

   <div class="preview" data-target="p-3">
      <i class="fas fa-times"></i>
      <img src="images/z.jfif" alt="">
      <h3>Zayn</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="https://www.inzayn.com/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/zayn/" class="cart">DM-Instagram</a>
      </div>
   </div>

   <div class="preview" data-target="p-4">
      <i class="fas fa-times"></i>
      <img src="images/chetan.jpg" alt="">
      <h3>CHetan Bhagat</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="http://www.chetanbhagat.com/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/chetanbhagat/feed/?hl=en" class="cart">DM-Instagram</a>
      </div>
   </div>

   <div class="preview" data-target="p-5">
      <i class="fas fa-times"></i>
      <img src="images/fearne.webp" alt="">
      <h3>Fearne Cotton</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="https://www.happyplaceofficial.co.uk/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/fearnecotton/channel/?hl=en" class="cart">DM-Instagram</a>
      </div>
   </div>

   <div class="preview" data-target="p-6">
      <i class="fas fa-times"></i>
      <img src="images/rach.jpg" alt="">
      <h3>Rachel Hollis</h3>
      <p>Wish to know more about them and interact with them? Click on the visit website button to know more about them and DM for messaging them</p>
      <div class="buttons">
         <a href="https://msrachelhollis.com/" class="cart">Visit Website</a>
         <a href="https://www.instagram.com/msrachelhollis/channel/?hl=en" class="cart">DM-Instagram</a>
      </div>
   </div>

</div>

</body>
</html>