<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transaction Details</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="css/thanks_page.css" rel="stylesheet">
</head>
<body>
    
	<div class="contact-form">
    
		<!-- <img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg"> -->
		<h2>Reviewing Failure :'( </h2>
        <p><i>Your review couldn't be added for one or more reasons. Kindly enter all the details.</i></p><br>
        <img src="image/No data-bro.svg" class="image" alt="" />
    
	</div>     
</body>
</html>
