<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transaction Details</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="css/thanks_page.css" rel="stylesheet">
</head>
<body>
    
	<div class="contact-form">
    
		<!-- <img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg"> -->
		<h2>Thank you for your purchase!</h2>
        <h2><i></i></h2>
        <p><i>Your order is being verified and will be sent to you soon.</i></p><br>
        <img src="image/Super thank you-rafiki.svg" class="image" alt="" />
    
	</div>
    <a href="book-detail.html" class="float">
        <i class="	fa fa-chevron-left my-float"></i>
        </a>
     
      
</body>
</html>